<script lang="ts">
	import { page } from '$app/stores';
	import { db } from '$lib/db';
	import { onMount } from 'svelte';
	import { Icon, Link } from 'svelte-hero-icons';
	import { cva } from 'class-variance-authority';

	let title = '_________';
	let showSuccessNotification = false;

	const getSurveyTitle = async () => {
		try {
			const surveyId = $page.params.id;

			// Get survey title
			const { error, data } = await db.from('surveys').select('title').eq('id', surveyId).single();

			if (error) throw error;

			title = data.title;
		} catch (error) {
			if (error instanceof Error) console.error(error);
		}
	};

	const copyLinkToClipboard = async () => {
		navigator.clipboard.writeText(window.location.href);
		showSuccessNotification = true;
		setTimeout(() => {
			showSuccessNotification = false;
		}, 3000);
	};

	const successNotificationStyle = cva(
		['text-success', 'transition-opacity', 'duration-150', 'ease-in-out'],
		{
			variants: {
				shown: {
					true: ['opacity-100'],
					false: ['opacity-0']
				}
			}
		}
	);

	onMount(getSurveyTitle);
</script>

<div class="flex gap-4 items-center">
	<h1>{title}</h1>
	<div class="tooltip tooltip-bottom" data-tip="In Zwischenablage kopieren">
		<button class="text-white/[0.5] hover:text-white" on:click|preventDefault={copyLinkToClipboard}>
			<Icon src={Link} size="24" />
		</button>
	</div>
	<span class={successNotificationStyle({ shown: showSuccessNotification })}>Kopiert ✓</span>
</div>
<div class="mt-12 card border border-primary bg-base-200">
	<div class="card-body">
		<slot />
	</div>
</div>
