<script lang="ts">
	import { goto } from '$app/navigation';
	import { page } from '$app/stores';
	import { db } from '$lib/db';
	import type { Answer, Choice } from '$lib/question-types';
	import { onMount } from 'svelte';

	let loading: boolean = true;
	let answers: Answer[] = [];
	let name: string = '';

	$: submitDisabled = loading || name == '';

	const getSurvey = async () => {
		try {
			loading = true;

			const surveyId = $page.params.id;

			const { error, data } = await db
				.from('surveys')
				.select('title, choices')
				.eq('id', surveyId)
				.single();

			if (error) throw error;

			const choices = JSON.parse(data.choices);
			answers = choices.map((choice: Choice): Answer => {
				return {
					choice: choice,
					value: 'maybe'
				};
			});
		} catch (error) {
			if (error instanceof Error) console.error(error);
		} finally {
			loading = false;
		}
	};

	const submitChoice = async () => {
		try {
			loading = true;

			const surveyId = $page.params.id;

			const { error, data } = await db
				.from('answers')
				.insert({ answer: JSON.stringify(answers), survey: surveyId, name: name })
				.select();

			if (error) throw error;

			console.log(data);

			goto(`/${surveyId}/ergebnis`);
		} catch (error) {
			if (error instanceof Error) console.error(error);
		} finally {
			loading = false;
		}
	};

	onMount(getSurvey);
</script>

{#if !loading}
	<form on:submit|preventDefault={submitChoice}>
		<div class="form-control">
			<label class="label label-text" for="name">Name</label>
			<input
				class="input input-bordered"
				type="text"
				bind:value={name}
				placeholder="Dein Name"
				id="name"
			/>
		</div>

		<div class="form-control mt-4">
			<table class="table">
				<thead>
					<th>Möglichkeiten</th>
					<th>Antwort</th>
				</thead>
				<tbody>
					{#each answers as answer}
						<tr>
							<td>
								{answer.choice.option}
							</td>
							<td>
								<select class="input input-bordered" bind:value={answer.value}>
									<option value="yes">Ja</option>
									<option value="no">Nein</option>
									<option value="maybe">Vielleicht</option>
								</select>
							</td>
						</tr>
					{/each}
				</tbody>
			</table>
		</div>
		<div class="form-control mt-4">
			<button class="btn btn-primary" disabled={submitDisabled} type="submit">Absenden</button>
		</div>
	</form>
{/if}
