<script lang="ts">
	import { goto } from '$app/navigation';
	import { db } from '$lib/db';
	import { Icon, PlusCircle, MinusCircle } from 'svelte-hero-icons';
	import type { Choice } from '$lib/question-types';

	let title: string;
	let loading: boolean = false;
	let choiceType: 'text' | 'date';
	let choices: Choice[] = [];

	$: typeDisabled = choices.length > 0;
	$: createDisabled = loading || choices.length == 0;

	const onCreate = async () => {
		try {
			loading = true;

			const { error, data } = await db
				.from('surveys')
				.insert({ title, choices: JSON.stringify(choices) })
				.select('id')
				.single();

			if (error) throw error;

			goto(`/${data.id}`);
		} catch (error) {
			if (error instanceof Error) console.error(error);
		} finally {
			loading = false;
		}
	};

	const onCreateChoice = () => {
		const choicesCopy = [...choices];
		switch (choiceType) {
			case 'date':
				choicesCopy.push({ option: new Date() });
				break;
			case 'text':
				choicesCopy.push({ option: '' });
				break;
			default:
				break;
		}
		choices = choicesCopy;
	};

	const deleteChoice = (index: number) => {
		const choicesCopy = [...choices];
		choicesCopy.splice(index, 1);
		choices = choicesCopy;
	};

	const deleteAllChoices = () => {
		choices = [];
	};
</script>

<form on:submit|preventDefault={onCreate}>
	<div class="card border border-primary bg-base-200">
		<div class="form-control card-body">
			<label class="label label-text" for="title">Titel der Umfrage</label>
			<input
				class="input input-bordered"
				id="title"
				placeholder="Titel der Umfrage"
				bind:value={title}
			/>
		</div>
	</div>

	<div class="card border border-primary bg-base-200 mt-4">
		<div class="card-body gap-4">
			<div class="form-control">
				<label class="label label-text" for="type">Typ</label>
				<select class="select select-bordered" disabled={typeDisabled} bind:value={choiceType}>
					<option value="text">Text</option>
					<option value="date">Datum</option>
				</select>
			</div>

			{#each choices as choice, i}
				<div class="input-group">
					{#if choiceType == 'date'}
						<input class="input input-bordered grow" type="date" bind:value={choice.option} />
					{:else if choiceType == 'text'}
						<input class="input input-bordered grow" type="text" bind:value={choice.option} />
					{/if}

					<button
						class="btn btn-warning btn-outline"
						on:click|preventDefault={() => deleteChoice(i)}
						><Icon src={MinusCircle} size="28" /></button
					>
				</div>
			{/each}

			<div class="input-group btn-group">
				<button class="btn btn-primary grow" on:click|preventDefault={onCreateChoice}
					><Icon src={PlusCircle} size="32" />
				</button>
				<button class="btn btn-warning btn-outline grow" on:click|preventDefault={deleteAllChoices}
					>Alle löschen
				</button>
			</div>
		</div>
	</div>

	<button class="mt-4 btn btn-primary" type="submit" disabled={createDisabled}>Erstellen</button>
</form>
