<script lang="ts">
	import { page } from '$app/stores';
	import { db } from '$lib/db';
	import type { Answer, Choice } from '$lib/question-types';
	import { onMount } from 'svelte';
	import { cva } from 'class-variance-authority';

	interface SurveyAnswer {
		name: string;
		answers: Answer[];
	}

	let loading: boolean = false;
	let choiceTitles: string[] = [];

	let answers: SurveyAnswer[] = [];

	const answerStyle = cva([], {
		variants: {
			color: {
				no: ['bg-error', 'text-error-content'],
				maybe: ['bg-warning', 'text-warning-content'],
				yes: ['bg-success', 'text-success-content']
			}
		}
	});

	const getAnswers = async () => {
		try {
			loading = true;

			const surveyId = $page.params.id;

			// Get survey
			const { error: surveyError, data: surveyData } = await db
				.from('surveys')
				.select('choices')
				.eq('id', surveyId)
				.single();

			if (surveyError) throw surveyError;

			const choices = JSON.parse(surveyData.choices);
			choiceTitles = choices.map((choice: Choice) => choice.option);

			// Get answers
			const { error, data } = await db
				.from('answers')
				.select('answer, name')
				.eq('survey', surveyId);

			if (error) throw error;

			answers = data.map((answer: any) => {
				return {
					name: answer.name,
					answers: JSON.parse(answer.answer)
				};
			});
		} catch (error) {
			if (error instanceof Error) console.error(error);
		} finally {
			loading = false;
		}
	};

	onMount(getAnswers);
</script>

<table class="table w-full">
	<thead>
		<th> Name </th>
		{#each choiceTitles as choiceTitle}
			<th>{choiceTitle}</th>
		{/each}
	</thead>
	<tbody>
		{#each answers as answer}
			<tr>
				<td>{answer.name}</td>
				{#each answer.answers as innerAnswer}
					<td class={answerStyle({ color: innerAnswer.value })}
						>{innerAnswer.value == 'no'
							? 'Nein'
							: innerAnswer.value == 'maybe'
							? 'Vielleicht'
							: 'Ja'}</td
					>
				{/each}
			</tr>
		{/each}
	</tbody>
</table>
